<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Search', search_articles_path %></li>
  </ul>
</nav>
<h1>Articles</h1>

<%= link_to 'New Article', new_article_path, class: 'btn btn-primary' %>
<br><br>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Author</th>
      <th>Date</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
<!-- Loop Through each article and display its contents along with actions buttons -->
  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article %></td>
      <td><%= article.content %></td>
      <td><%= article.author %></td>
      <td><%= article.date %></td>
      <td><%= link_to 'Show', article_path(article), class: 'btn btn-action btn-info' %></td>
      <td><%= link_to 'Edit', edit_article_path(article), class: 'btn btn-action btn-warning' %></td>
      <td>
        <%= form_with url: article_path(article), method: :delete, local: true do |form| %>
          <%= form.submit 'Destroy', data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>