<div class="column is-one-quarter">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <%= article.title %>
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <p><span class="has-text-weight-bold">Content: </span><%= article.content %></p>
        <p><span class="has-text-weight-bold">Author: </span><%= article.author %></p>
        <p><span class="has-text-weight-bold">Date: </span><%= article.date %></p>
      </div>
    </div>
    <footer class="card-footer">
      <%= link_to "Show", article, method: :show, data: { confirm: 'Are you sure?' },  class: "card-footer-item" %>
      <%= link_to "Edit", edit_article_path(article), class: "card-footer-item" %>
    </footer>
  </div>
</div>
