<div id="<%= dom_id article %>">

    <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= article.title%></h5>
        <h6 class="card-subtitle mb-2 text-muted">Author: <%= article.author%> | Date: <%= article.date%></h6>
        <p class="card-text"><%= truncate(article.content,length: 300)%></p>
        <%= link_to "Show this article", article , class:'btn btn-primary'%>
      </div>
    </div>

  </div>

</div>
