<div class="container mt-3">
  <div id="<%= dom_id article %>" class="card mt-4">
    <div class="card-body">
      <h5 class="card-title"><%= article.title %></h5>

      <p class="card-text"><strong>Content:</strong> <%= article.content %></p>

      <p class="card-text"><strong>Author:</strong> <%= article.author %></p>

      <p class="card-text"><strong>Date:</strong> <%= article.date %></p>
    </div>
  </div>

</div>
