<%# Display all articles %>
<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>content:</strong>
    <%= article.content %>
  </p>

  <p>
    <strong>author:</strong>
    <%= article.author %>
  </p>

  <p>
    <strong>date:</strong>
    <%= article.date %>
  </p>

</div>
