<div id="<%= dom_id article %>">
  <p>
    <strong>author:</strong>
    <%= article.author %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= article.content %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= article.date %>
  </p>

</div>
