<div class="p-2">
  <div id="<%= dom_id article %>" class="m-4">
      <p>
        <div class="text-xl font-medium"><%= article.title %></div>
      </p>

      <p class="text-ellipsis">
        <%= article.content %>
      </p>

      <p class="flex">
          <div><span class="font-bold">Author:</span> <%= article.author %>  </div> <span class="font-bold">Created:</span> <%= article.date.strftime('%b %d, %Y') %>
      </p>
    </div>
    <hr/>
</div>