<div id="<%= dom_id article %>">
  <h1>
    <%= article.title %>
  </h1>
  <div>
    <p>
      Author: <%= article.author %>, Posted on: <%= article.date %>, Last Updated: <%= article.updated_at %>
    </p>
  </div>
  <p>
    <%= article.content %>
  </p>
</div>
