<div id="<%= dom_id(article) %>" class="flex flex-col gap-y-2 p-4 border-slate-400 border rounded-md bg-white">
  <p class="text-lg font-bold"><%= article.title %></p>
  <p><%= article.content %></p>
  <p>Author: <%= article.author %></p>
  <p>Date: <%= article.date %></p>
  <p>Categories: <%= article.categories %></p>
</div>
