<link rel="stylesheet" type="text/css" href="styles.css">

<div id="<%= dom_id article %>" class="custom-article-container">
  <p class="custom-article-title">
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <h2 class="custom-article-content">
    <strong>Content:</strong>
    <%= article.content %>
  </p>

  <p class="custom-article-author">
    <strong>Author:</strong>
    <%= article.author %>
  </p>

  <p class="custom-article-date">
    <strong>Date:</strong>
    <%= article.date %>
  </p>
</div>
