<div class="border-black border-2 p-10 rounded-2xl bg-gray-200">
  <div id="<%= dom_id article %>" class="m-4">
      <p>
        <strong>Title:</strong>
        <%= article.title %>
      </p>

      <p>
        <strong>Content:</strong>
        <%= article.content %>
      </p>

      <p>
        <strong>Author:</strong>
        <%= article.author %>
      </p>

      <p>
        <strong>Date:</strong>
        <%= article.date %>
      </p>
    </div>
</div>