<div id="<%= dom_id article %>">
  <tr>
    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
      <%= link_to article_path(article), class: "text-slate-600 hover:text-slate-900" do %>
        <%= truncate(article.title, length: 40, separator: " ") %>
      <% end %>
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= article.author %></td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= article.date.strftime("%b %d, %Y") %></td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= truncate(article.title, length: 75, separator: " ") %></td>
    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
      <%= link_to "Show", article_path(article), class: "text-slate-600 hover:text-slate-900" %>
    </td>
    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
      <%= link_to "Edit", edit_article_path(article), class: "text-sky-600 hover:text-sky-900" %>
    </td>
    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
      <%= link_to "Delete", article_path(article), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "text-rose-600 hover:text-rose-900" %>
    </td>
  </tr>
</div>
