<div id="<%= dom_id article %>">
  <p>
    Title:<%= article.title %>
  </p>

  <p>
    Content:<%= article.content %>
  </p>

  <p>
    Author:<%= article.author %>
  </p>

  <p>
    Date:<%= article.date %>
  </p>

  <p>
    Categories:<%= article.categories %>
  </p>

</div>
