<div id="<%= dom_id article %>">

  <div class="card text-center">
    <div class="card-header">
      By <%= article.author %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= article.title %></h5>
      <p class="card-text"><%= article.content %></p>
    </div>
    <div class="card-footer text-body-secondary">
      <%= article.date %>
    </div>
  </div>

</div>
