<%= form_with(model: article) do |form| %>

  <div class="ont-semibold m-2">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_area :title, class: "border-2 border-gray-200 rounded-lg" %>
  </div>

  <div class="font-semibold m-2">
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content, class: "border-2 border-gray-200 rounded-lg" %>
  </div>

  <div class="font-semibold m-2">
    <%= form.label :author, style: "display: block" %>
    <%= form.text_field :author, class: "border-2 border-gray-200 rounded-lg" %>
  </div>

  <div class="font-semibold m-2">
    <%= form.label :date, style: "display: block" %>
    <%= form.datetime_field :date, class: "border-2 border-gray-200 rounded-lg p-2" %>
  </div>

    <div  class="flex border-2 border-black rounded-2xl text-center bg-blue-300 grid m-2 px-4" >
    <%= form.submit %>
  </div>

  <% if article.errors.any? %>
    <div class="text-red-400">
      <h2 class="text-xl"><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>