<%= form_with(model: @article, local: true) do |form| %>
    <div>
      <%= form.label :title %>
      <br>
      <%= form.text_field :title %>
    </div>
  
    <div>
      <%= form.label :author %>
      <br>
      <%= form.text_field :author %>
    </div>
  
    <div>
      <%= form.label :date %>
      <br>
      <%= form.date_field :date %>
    </div>
  
    <div>
      <%= form.label :content %>
      <br>
      <%= form.text_area :content %>
    </div>
  
    <div>
      <%= form.submit "Submit" %>
    </div>
  <% end %>