<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'text_field', locals: { form: form, field: :title, placeholder: "Enter Title", resizable: false } %> 

  <%= render partial: 'text_field', locals: { form: form, field: :content, placeholder: "Enter Content", resizable: true, rows: 3 } %>

  <%= render partial: 'text_field', locals: { form: form, field: :author, placeholder: "John Doe", resizable: false } %>

  <%= render partial: 'text_field', locals: { form: form, field: :date, placeholder: "YYYY-MM-DD", resizable: false } %>


  <div>
    <%= form.submit %>
  </div>
<% end %>