<!-- Form used by both new.html.erb, edit.html.erb -->
<%= form_with(model: article, local: true) do |form| %>

  <!-- Display errors if any occur -->
  <% if article.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Article fields (title, author, content, date) below-->

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
