<%= stylesheet_link_tag '_form.css' %>

<%= form_with model: @article do |form| %>
  <div>
      <%= form.label :author %><br>
      <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :date %><br>
    <%= form.date_select :date %>
  </div>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <p class='error-message'><%= message %></p>
    <% end %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
    <% @article.errors.full_messages_for(:content).each do |message| %>
      <p class='error-message'><%= message %></p>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
