<%= form_with(model: @article, local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>

  <p>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </p>

  <p>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>