<%= form_with model: article do |form| %>
  <% if form.object.errors.any? %>
    <div>
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :author %><br>
    <%= form.text_field :author
 %>
  </div>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title
 %><br>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
