<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :author %>
    <%= form.text_field :author %>
    <% article.errors.full_messages_for(:author).each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
    <% article.errors.full_messages_for(:content).each do |message| %>
      <div class="error"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
