<%# reusable form partial for 'new' and 'edit' views. contains error checking. %>
<%= form_with model: article do |form| %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
     <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <br>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
     <% article.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <br>
  <div>
    <%= form.label :author %>
    <%= form.text_field :author %>
     <% article.errors.full_messages_for(:author).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <br>
  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
     <% article.errors.full_messages_for(:date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <br>
  <div>
    <%= form.submit %>
  </div>
    <br>
    <%# site navigation %>
  <div>
    <%= link_to "Go Home", root_path %>
  </div>

<% end %>