<%= form_with model: article do |form| %>
  <div>
    <h2><%= form.label :title %></h2>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <h2><%= form.label :author %></h2>
    <%= form.text_field :author %>
    <% article.errors.full_messages_for(:author).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <div>
    <h2><%= form.label :date %></h2>
    <%= form.date_field :date %>
    <% article.errors.full_messages_for(:date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <h2><%= form.label :content %></h2>
    <%= form.text_area :content %>
    <% article.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
