<!-- Name: Justin Bishop -->
<!-- Purpose: Shopify Backend Software Engineer Assesment -->
<!-- Date: 2024-01-24 -->

<%= form_with model: article do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :content %><br>
      <%= form.text_area :content %><br>
      <% article.errors.full_messages_for(:content).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
    <%= form.label :author %><br>
    <%= form.text_area :author %>
    <% article.errors.full_messages_for(:author).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
    <%= form.label :date %><br>
    <%= form.text_area :date %>
    <% article.errors.full_messages_for(:date).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>

  <ul>
  <li><%= link_to "See all", root_path %></li>
  </ul>