<%# Partial form - shared view %>

<%= form_with model: @article do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
      <%# Error message when title input is blank %>
      <% @article.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :content %><br>
      <%= form.text_area :content %>
      <%# Error message when content input is blank %>
      <% @article.errors.full_messages_for(:content).each do |message| %>
          <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :author %><br>
      <%= form.text_field :author %>
    </div>

    <div><%= form.date_field :date, value: Date.today %></div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>

<p><%= link_to "Home", root_path %></p>
