<%= form_with(model: article) do |form| %>

  <div class="grid w-3/12 mx-auto">
    <span class="font-semibold mt-2">
      <%= form.label :title %>
    </span>
    <%= form.text_area :title, class: "border-2 border-gray-200 rounded-lg" %>
  </div>

  <div class="grid w-5/12 mx-auto my-auto h-7/12">
    <span class="font-semibold mt-2">
    <%= form.label :content %>
    </span>
    <%= form.text_area :content, class: "h-24 md:h-48 border-2 border-gray-200 rounded-lg" %>
  </div>

  <div class="grid w-2/12 mx-auto my-auto h-7/12">
    <span class="font-semibold mt-2">
    <%= form.label :author %>
    </span>
    <%= form.text_field :author, class: "border-2 border-gray-200 rounded-lg" %>
  </div>

  <div class="grid w-2/12 mx-auto my-auto h-7/12">
    <span class="font-semibold mt-2">
    <%= form.label :date %>
    </span>
    <%= form.datetime_field :date, class: "border-2 border-gray-200 rounded-lg p-2" %>
  </div>

    <div class="hover:shadow-xl mt-2 flex border border-black rounded-2xl text-center hover:bg-blue-300 delay-100 transition delay-150 duration-150 ease-in-out grid w-2/12 mx-auto bg-gray-200" >
    <%= form.submit %>
  </div>

  <% if article.errors.any? %>
    <div class="text-red-400">
      <h2 class="text-xl"><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>