<%# This partial is used for edit/new views and captures the reused form logic %>
<%= form_with(model: article, class: 'form') do |f| %>
  <%# Shows errors in the form %>
  <%= render 'errors', object: article %>
    
  <div class="mb-3">
    <%= f.label :author, class: 'form-label' %>
    <%= f.text_field :author, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label "Title *", class: 'form-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label "Content *", class: 'form-label' %>
    <%= f.text_area :content, rows: 5, class: 'form-control', placeholder: "Your article here..." %>
  </div>

  <div class="mb-3">
    <%= f.label :date, class: 'form-label' %>
    <%= f.date_field :date, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<br/>
<br/>