<%= form_with(model: @article, local: true) do |form| %>
    <% if @article.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h4>
        <ul>
          <% @article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group mb-3">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
  
    <div class="form-group mb-3">
      <%= form.label :content, class: "form-label" %>
      <%= form.text_area :content, class: "form-control", rows: 5 %>
    </div>
  
    <div class="form-group mb-3">
      <%= form.label :author, class: "form-label" %>
      <%= form.text_field :author, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.submit 'Save Article', class: 'btn btn-primary' %>
    </div>
  <% end %>
  