<%# Form Partial for edit.html.erb and new.html.erb %>
<%# Generates a form that has a title, content, author, and date field %>
<%# Displays a message and prevents from creating/updating if title/content field is not filled %>

<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= "Please enter a title before saving." %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %><br>
    <% article.errors.full_messages_for(:content).each do |message| %>
      <div><%= "Please fill out the context box before saving." %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :author %><br>
    <%= form.text_field :author %><br>
  </div>

  <div>
    <%= form.label :date %><br>
    <%= form.date_select :date %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>