<%= form_with model: article do |form| %>
  <div class='article-form'>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title, required: true %>
    </div>

    <div>
      <%= form.label :author %>
      <%= form.text_field :author %>
    </div>

    <div>
      <%= form.label :date %>
      <%= form.date_field :date %>
    </div>

    <div>
      <%= form.label :content %>
      <%= form.text_area :content, rows: 3, required: true %>
    </div>

    <%= form.submit %>
  </div>
<% end %>