<%= form_with model: article do |form| %>

  <div class="form_input">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="form_content">
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div class="form_input">
    <%= form.label :author, style: "display: block" %>
    <%= form.text_field :author %>
  </div>

  <div class="form_input">
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <% if article.errors.any? %>
    <div class="form_error">
      <p><%= pluralize(article.errors.count, "error") %> retricted this action:</p>
      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>