<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div class="message is-danger">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title,class: "label" %>
    <%= form.text_field :title, class: "input"  %>
  </div>

  <div class="field">
    <%= form.label :content, class: "label" %>
    <%= form.text_area :content , class: "input" %>
  </div>

  <div class="field">
    <%= form.label :author,class: "label" %>
    <%= form.text_field :author, class: "input"  %>
  </div>

  <div class="field">
    <%= form.label :date,class: "label" %>
    <%= form.date_field :date, class: "input"  %>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>
