<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex flex-col w-7/12 gap-4 mt-10">
    <div>
      <label for="article_title" style="display: block">Title</label>
      <input class="input input-bordered w-full max-w-xs" type="text" name="article[title]" id="article_title" value="<%= article.title %>">
    </div>
    <div>
      <label for="article_author" style="display: block">Author</label>
      <input class="input input-bordered w-full max-w-xs" type="text" name="article[author]" id="article_author" value="<%= article.author %>">
    </div>
    <div>
      <label for="article_content" style="display: block">Content</label>
      <textarea class="textarea textarea-bordered w-full" name="article[content]" id="article_content"><%= article.content %></textarea>
    </div>
    <div>
      <label for="article_date" style="display: block">Date</label>
      <input class="input input-bordered w-full max-w-xs" type="date" name="article[date]" id="article_date" value="<%= article.date %>">
    </div>
    <div>
      <div class="mt-4">
        <button class="btn bg-lime-400" type="submit">Submit</button>
      </div>
    </div>
  </div>
<% end %>
