<div class="mt-10 navbar p-0 bg-base-100">
  <div class="flex-1">
    <%= link_to articles_path do %>
      <h1 class="btn btn-ghost text-2xl text-lime-600">Shopedia</h1>
    <% end %>
  </div>
  <div class="flex-none gap-6">
    <%= link_to search_page_path do %>
      <button class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
      </button>
    <% end %>
    <% if session[:user_id] %>
      <div>
        <%= link_to new_article_path do %>
          <button class="btn btn-default bg-lime-600 text-white hover:text-white hover:bg-lime-900 font-light w-20">
            Create
          </button>
        <% end %>
      </div>
      <% user = User.find(session[:user_id]) %>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img alt="User Image" src="<%= user.image %>"/>
          </div>
        </div>
        <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
          <li><%= link_to 'Logout', logout_path,  data: { "turbo-method": :delete }  %></li>
        </ul>
      </div>
    <% else %>
      <%= link_to 'Sign in with Google', '/auth/google_oauth2', class: 'btn btn-outline'%>
    <% end %>
  </div>
</div>
