<div class ="Form">
  <%= form_with(model: @article, url: article_path(@article), method: :patch) do |form| %>
    <h1>Edit Article</h1>
    <% if @article.errors.any? %>
    <div style="color: red" id="error_explanation">
      <h2>There are <%= pluralize(@article.errors.count, "error") %> Errors Present</h2>
      <ul>
        <% @article.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  <div class="position">
  <div class="form-container">
    <div class="field">
        <%= form.label :title, class:"form-label"%>
        <%= form.text_field :title, class: "form-input" %>
    </div>
    <div class="field">
        <%= form.label :author, class: "form-label" %>
        <%= form.text_field :author, class: "form-input" %>
    </div>
    <div class="field">
        <%= form.label :content, class: "form-label" %>
        <%= form.text_area :content, class: "form-textarea", rows: 8%>
    </div>
    <div class="field">
        <%= form.label :date, class: "form-label" %>
        <%= form.date_field :date%>
    </div>
    <div style="margin-top: 20px;">
        <%= form.submit 'Update Article',class:"form-button"%>
    </div>
  </div>
  <% end %>

  <p class="form-button" style=" background-color: #6c757d;">
    <%= link_to 'Back to Articles', articles_path,class:"form-button",
    style:"text-decoration:none;background-color: #6c757d;"%>
  </p>
  </div>
</div>