<div>

    <h1 class="text-xl font-bold">Edit Article</h1>
    <%= form_with model: @article do |form| %>
        <div>
            <%= form.label :title %><br>
            <%= form.text_field :title %>
            <% @article.errors.full_messages_for(:title).each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
        <div>
            <%= form.label :content %><br>
            <%= form.text_area :content %><br>
            <% @article.errors.full_messages_for(:content).each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
        <div>
            <%= form.label :date %><br>
            <%= form.date_field :date %><br>
        </div>
        <div class="bg-blue-500 hover:bg-blue-600 w-auto p-2 mt-2 text-white text-center">
            <%= form.submit %>
        </div>
    <% end %>


</div>
