<h1>Edit Article</h1>
<div>
<%= form_with model: @article, url: article_path(@article), method: :patch, local: true do |article| %>
    <%= article.label :author %>
    <%= article.text_field :author %>
    <%= article.label :title %>
    <%= article.text_field :title %>
    <%= article.label :date %>
    <%= article.date_field :date %>
    <%= article.label :content %>
    <%= article.text_area :content %>
    <%= article.submit %>
<% end %>
</div>
<% if @article.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@article.errors.count, "error") %> prohibited
            this article from being saved:
        </h2>
        <ul>
            <% @article.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>
