<h1>Edit Article</h1>

<%= form_with(model: @article, local: true) do |form| %>
  
  <%= render 'form_errors', object: @article %>

  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :content %>
  <%= form.text_area :content %>

  <%= form.label :author %>
  <%= form.text_field :author %>

  <%= form.label :date %>
  <%= form.date_select :date %>

  <%= form.submit %>
<% end %>

<%= link_to 'Back', articles_path %>
