<turbo-frame id="<%= dom_id(@article) %>" html: { class: 'edit-container' }>
  <%= form_with model: @article, local: false, html: { class: 'edit-form' } do |form| %>
    <%= form.label :title %>
    <div class="input-container">
      <%= form.text_field :title %>
    </div>

    <%= form.label :content %>
    <div class="input-container">
      <%= form.text_area :content %>
    </div>

    <%= form.label :author %>
    <div class="input-container">
      <%= form.text_field :author %>
    </div>

    <%= form.label :date %>
    <div class="input-container">
      <%= form.date_select :date, { include_blank: true }, id: 'edit_article_date' %>
    </div>
  
    <div class="link-button-container">
      <%= link_to 'Cancel', articles_path, data: { turbo_frame: dom_id(@article) } %>
    </div>
    <%= form.submit "Save" %>
  <% end %>
</turbo-frame>
