

<div class="centre">
  <div class="container">
    
    <nav class="navbar">
      <p>
        <span class="title"><%= link_to 'Encyclopedia', root_path, class:'no-decoration' %></span>
        <span class="links"><%= link_to 'Articles', articles_path, class:'no-decoration' %></span>
        <span class="links"><%= link_to 'Search', search_articles_path, class:'no-decoration' %></span>
      </p>
    </nav>


    <div class="home-articles">
      <h1>Encyclopedia</h1>

      <h2>Five Recent Articles</h2>
      <ul>
        <% @articles.each do |article| %>
          <li>
            <%= link_to article.title, article %>
            <br/>
            <%= link_to article.date, article %>
          </li>
          <br/>
        <% end %>
      </ul>

    </div>


  </div>
</div>