<h1>
    Encyclopedia
</h1>

<h3>List of Articles</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Author</th>
      <th>Date</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= article.author %></td>
        <td><%= article.date %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td>
        <%= link_to 'Delete', article_path(article), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?" } %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= form_with(url: articles_path, method: :get, class: 'search-form') do |form| %>
  <div class="field">
    <%= form.label :search, 'Search by Title, Content,	Author, Date:' %>
    <%= form.text_field :search, placeholder: 'Enter keywords' %>
  </div>
  <%= form.submit 'Search', class: 'btn' %>
<% end %>
<br>
<%= link_to 'Create new Article', new_article_path %>
