<div class="content-container">
    <h1>Latest Tech Articles</h1>

    <%= link_to 'Create', new_article_path, class: 'button' %>

    <% @articles.each do |article| %>
        <div class="card">
            <h2><%= article.title %></h2>
            <p><%= article.content %></p>
            <p><%= article.author %></p>
            <p><%= article.date %></p>
        </div>
    <% end %>
</div>
