<!-- View for the index, shows all articles in an unordered list and provides a input for searching articles -->
<h1>Encyclopedia Lofus</h1>
<!-- Create the form for searching -->
<form>
  <div>
    <%= form_tag(articles_path, :method => "get") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
      <span>
        <%= submit_tag "Search" %>
      </span>
    <% end %>
  </div>
</form>
<!-- Render out each article title stored in the instance variable if it is not nil -->
<% if @articles %>
  <ul>
    <% @articles.each do |article| %>
    <li>
      <a href="<%= article_path(article) %>">
        <%= article.title %>
      </a>
    </li>
    <% end %>
  </ul>
<% end %>
<%= link_to "Create New Article", new_article_path %>