<div id="articles" class="main-container">
<h1 style="text-align: center;">Encyclopedia</h1>


<div class="article-header">
    <div class="actions" style="item-align: center; left margin:10px">
      <%= link_to 'Create New Article', new_article_path, class: "form-submit-btn" %>

      <div class="search-bar">
        <%= form_tag( articles_path, method: :get)  do %>
         <%= text_field_tag( :search, params[:search], class: "search-term", placeholder: "Search...") %>
         <%= submit_tag "Search", name: nil%>
        <% end %>
      </div>
    </div>
  </div>

<table style="margin-left: auto; margin-right: auto; border-collapse: collapse;">
<thead>
  <tr>
    <th>Date</th>
    <th>Author</th>
    <th>Title</th>
    <th>Content</th>
    <th>Actions</th>
  </tr>
</thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
      <td style="border: 1px solid black; padding: 8px;"><%= article.date %></td>
      <td style="border: 1px solid black; padding: 8px;"><%= article.author %></td>
      <td style="border: 1px solid black; padding: 8px;"><%= article.title %></td>
      <td style="border: 1px solid black; padding: 8px;"><%= article.content %></td>
        <td style="border: 1px solid black; padding: 8px;">
          <%= link_to "Read more", article_path(article), style: "padding: 5px 10px; text-decoration: none; background-color: #007bff; color: white; border-radius: 5px;" %> |
          <%= link_to "Edit", edit_article_path(article), style: "padding: 5px 10px; text-decoration: none; background-color: #28a745; color: white; border-radius: 5px;" %> |
          <%= button_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" }, form: { style: "display: inline" }, style: "padding: 5px 10px; background-color: #dc3545; color: white; border: none; border-radius: 5px;" %>
        </td>
      </tr>
    <% end %>
  </tbody>
 
</table>
</div>
