<div class="container">
    <h1>Rails Encyclopedia!</h1>

    <%= form_tag "/articles", method: "GET" do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search" %>
      <%= submit_tag "Search" %>
    <% end %>

    <div class="articles-list">
      <ul>
        <% @articles.each do |article| %>
          <li>
            <%= link_to article.title, article %>
          </li>
        <% end %>
      </ul>
    </div>

    <%= link_to "New Article", new_article_path, class: "new-article-link" %>
  </div>