<h1>All Articles</h1>

<%= link_to "New Article", "/articles/new", method: :get, type: "button" , class:"btn btn-primary"%>

<%= form_with url: articles_path, local: true,  method: :get do |form| %>
    <%= form.text_field :search, value: params[:search], class: 'search-input' %>
    <%= form.submit "Search" %>
<% end %>

<% @articles.each do |article| %>
    <div class="article_elem">
        <h3><%= article.title %></h3>
        <p><%= article.author %></p>
        <p>Date: <%= article.date %></p>
        <p><%= article.content %></p>

        <%= link_to "View", article, :class => 'btn btn-primary'%>
    </div>
<% end %>