<p style="color: green"><%= notice %></p>

<%= render "search", article: @article%>
<%= link_to "Show all", articles_path %>

<h1>article</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>