<h1>Welcome to the Encyclopedia</h1>
<h2>All Articles:</h2>

<div style="display: flex">
  <div style="margin: 10px">
    <%= form_tag(search_articles_path, method: :get) do %>
      <%= text_field_tag(:query, params[:query], placeholder: "Search articles") %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>

  <div style="margin: 10px">
    <%= link_to "Create New Article", new_article_path %> 
  </div>
</div>
<br/>

<ul>
    <% @articles.each do |article| %>
        <li><%= link_to article.title, article %></li>
    <% end %>
</ul>
