<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<%= form_with url: "/articles", method: :get do |form| %>
  <%= form.label :term, "Search For Article:" %>
  <%= form.text_field :term %>
  <%= form.submit "Search" %>
<% end %>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= paginate @articles %>


<%= link_to "New article", new_article_path %>
