<h1>The Encyclopdia of Shopify Interns</h1>

<%= render 'search_form' %>
<% if params[:query].present? %>
  <%= button_to 'Back to all Articles', { action: :index }, method: :get, class: 'btn btn-secondary' %>
<% end %>

<% @articles.each do |article| %>
  <h2><%= link_to article.title, article %></h2>
  <p><%= article.content %></p>
<% end %>

<%= link_to 'New Article', new_article_path, class: 'btn btn-secondary' %>

