<%= stylesheet_link_tag 'articles' %>

<header>
    <h1>Encyclopedia</h1>
</header>


<h2>List of Articles</h2>
<ul>
    <% @articles.each do |article| %>
        <li>
            <h4><%= link_to article.title, article %></h4>
            <p><%= article.content %></p>
        </li>
    <% end %>
</ul>

<div class="buttons-container">
    <%= button_to "Create Article", new_article_path, method: :get, class: "button" %>
    <%= button_to "Search Articles", search_articles_path, method: :get, class: "button" %>
</div>

