<h1>Encyclopedia</h1>
<%= link_to 'Add Article', new_article_path %>

<%= form_tag(articles_path, method: :get) do %>
  <%= text_field_tag :query, params[:query], placeholder: 'Search articles' %>
  <%= submit_tag 'Search' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Author</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, article %></td>
        <td><%= article.content %></td>
        <td><%= article.author %></td>
        <td><%= article.date %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
