<h1>Articles</h1>

<turbo-frame id="error_messages"></turbo-frame>

<div id="new-article-toggle" style="cursor: pointer;">
  <h3>Create a new article <span id="arrow">&#9660;</span></h3>
</div>

<div id="new-article-form" style="display: none;">
  <%= form_with model: Article.new, local: false do |form| %>
    <%= form.label :title %>
    <div class="input-container">
      <%= form.text_field :title %>
    </div>

    <%= form.label :content %>
    <div class="input-container">
      <%= form.text_area :content %>
    </div>

    <%= form.label :author %>
    <div class="input-container">
      <%= form.text_field :author %>
    </div>

    <%= form.label :date %>
    <div class="input-container">
      <%= form.date_select :date, { include_blank: true, start_year: 1900, end_year: Time.now.year + 5 }, id: 'article_date' %>
    </div>
  
    <%= form.submit %>
  <% end %>
</div>

<%= form_with url: articles_path, method: :get, local: false, id: "search-form" do |form| %>
  <h3>Search articles</h3>
  <div class="input-container">
    <%= form.text_field :search, id: "search-field", value: params[:search] %>
  </div>
  <%= form.submit "Search", class: "search-btn" %>
  <%= button_tag "Clear", type: 'button', class: "clear-btn", onclick: "clearSearchField();" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Author</th>
      <th>Date</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody id="articles">
    <% if @articles.present? %>
      <%= render @articles %>
    <% else %>
      <tr><td colspan="5">No articles found.</td></tr>
    <% end %>
  </tbody>
</table>
