<%= render 'header' %>

<div>
  <div>
      <% @articles.each do |article| %>
      <div class="article-card">
        <div class="article-header">
          <a href="<%= article_path(article) %>">
          <%= article.title %>
          </a>
        </div>
        <div class="article-content">
          <p><%= article.content %></p>
        </div>
        <div class="article-meta">
          <span>Author: <%= article.author.blank? ? "Unknown" : article.author %></span> |
          <span>Date: <%= article.date.blank? ? "Unknown" : article.date %></span>
        </div>
        <div class="article-buttons">
          <button class="edit-button">
            <%= link_to "Edit", edit_article_path(article) %>
          </button>
          <button class="delete-button">
            <%= link_to "Delete", article_path(article), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %>
          </button>
        </div>
      </div>
      <% end %>
  </div>
</div>
<br>
<button>
  <%= link_to "New Article", new_article_path %>
</button>
