<div style="padding: 10px">
  <h1>Articles</h1>

  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
    <!-- Create New Article Button -->
    <%= button_to 'Create New Article', new_article_path, method: :get, class: "btn waves-effect waves-light" %>

    <!-- Search Bar -->
    <form action="<%= articles_path %>" method="get" class="search-form" style="display: flex; align-items: center; margin-right: 15px;">
      <input type="text" name="query" id="query" style="padding-left: 5px; margin-right: 5px; border-radius: 5px; border: 1px solid #000;">
      <button type="submit" class="waves-effect waves-light btn", style="flex-shrink: 0">Search</button>
    </form>

  </div>

  <% @articles.each do |article| %>
    <div class="article-container z-depth-5 blue lighten-3" style="margin-top: 15px; padding: 10px; border-radius: 10px; display: flex; align-items: center; justify-content: space-between;">
      <!-- Article Title -->
      <div>
        <h5>Title: <%= article.title %></h5>
        <h7>Author: <%= article.author %></h5>
      </div>

      <!-- Buttons -->
      <div class="button-container" style="display: flex;">
        <%= button_to 'View Article', article_path(article), method: :get, class: "btn-small waves-effect waves-light", style: "margin-right: 5px" %>
        <%= button_to 'Update Article', edit_article_path(article), method: :get, class: "btn-small waves-effect waves-light", style: "margin-right: 5px" %>
        <%= button_to 'Delete Article', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-small waves-effect waves-light" %>
      </div>
    </div>
  <% end %>
</div>
