<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Search', search_path %></li>
  </ul>
</nav>

<h1> Articles </h1>
<%= link_to "Create a new article here!", new_articles_path %>
<% @articles.each do |article| %>
  <div>
    <h2><%= article.title %></h2>
    <p><%= article.content %></p>
  </div>
<% end %>
