<h1>Articles</h1>

<p>Encyclopedia currently has <%= Article.count %> articles</p>
<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :query, "Look for titles or content with:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>


<h2> List of Available Articles </h2>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "Create new article", new_article_path %>
