




<%= link_to('Back to Homepage', {controller: 'main', action: 'index'}) %><br />

<div class="articles index">
  <h2>Articles</h2>

  <%= link_to("Add New Article", new_article_path, class: 'action new') %>

  <%= form_tag(articles_path, method: :get) do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
    <%= submit_tag "Search" %>
  <% end %>
  
  <table class="listing" summary="Article list" style="width: 100%;">
    <tr class="header">
       <th>Article</th>
      <th>Content</th>
      <th>Author</th>
      <th>Date</th>
    </tr>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.content %></td>
      <td><%= article.author%></td>
      <td><%= article.date%></td>
      <td class="actions">
        <%= link_to("Show",article_path(article), class: 'action show') %>
        <%= link_to("Edit", edit_article_path(article), class: 'action edit') %>
        <%= link_to("Delete", delete_article_path(article), class: 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

