<div>
  <h1>All Posts</h1>
  <%# Search form %>
  <div class="header-controls">
    <%= form_with path: articles_url, method: :get do |form| %>
      <%= form.label :search, "Search:" %>
      <%= form.text_field :search, value: params[:search] %>
      <%= form.submit "Search", name: "" %>
    <% end %>

    <%= button_to "Create Article", new_article_path, method: "get" %>
  </div>
  
  <%# Article list %>
  <div class="articles-list">
    <% if @articles.length > 0%>
      <% @articles.each do |article| %>
        <div class="article">
          <p><%= article.title %></p>
          <p>Author: <%= article.author.present? ? article.author : "Anonymous" %></p>
          <p>Date: <%= article.date.present? ? article.date : 'Unknown Time' %></p>
          <p class="content">Content: <%= article.content %></p>
          <div class="article-buttons">
            <%= button_to "View Article", article_path(article), method: "get" %>
            <%= button_to "Edit Article", edit_article_path(article), method: "get" %>
            <%= button_to "Delete Article", article_path(article), method: "delete", form: { data: { turbo_confirm: "Are you sure you want to delete this article?" }} %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No Articles Found...</p>
    <% end %>
  </div>
</div>