<div>
  <h1>All Posts</h1>
  <%# Search form %>
  <div class="header-controls">
    <%= form_with path: articles_url, method: :get do |form| %>
      <%= form.label :search, "Search:" %>
      <%= form.text_field :search, value: params[:search] %>
      <%= form.submit "Search", name: "" %>
    <% end %>

    <%= button_to "Create Article", new_article_path, method: "get" %>
  </div>
  
  <%# Article list %>
  <div class="articles-list">
    <% @articles.each do |article| %>
      <%= link_to article_path(article) do %>
        <div class="article">
          <p><%= article.title %></p>
          <p>Author: <%= article.author ? article.author : "Anonymous" %></p>
          <p>Date: <%= article.date ? article.date : 'Unknown Time' %></p>
          <p class="content">Content: <%= article.content %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>