<div class="container">
  <h1>Articles</h1>
  <%= form_with(url: search_articles_path, method: :get, class: 'mb-3') do |form| %>
    <div class="input-group">
      <%= form.text_field :search, class: 'form-control', placeholder: 'Search articles...' %>
      <div class="input-group-append">
        <%= form.submit 'Search', class: 'btn btn-outline-secondary' %>
      </div>
    </div>
  <% end %>
  <%= render 'article_table' %>
  <%= link_to 'New Article', new_article_path, class: 'btn btn-success mb-3' %>
</div>