<h1>Articles</h1>

<%= button_to 'Create New Article', new_article_path, method: :get %>

<% @articles.each do |article| %>
  <div><%= article.title %></div>
  <%= button_to 'View Article', article_path(article), method: :get %>
  <%= button_to 'Update Article', edit_article_path(article), method: :get %>
  <%= button_to 'Delete Article', article_path(article), method: :delete %>
<% end %>