<div class="articles-index">
  <h1>Articles</h1>

  <%= form_with(url: articles_path, method: "get") do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search" %>
  <% end %>

  <div class="new-article-link">
    <%= link_to 'Create New Article', new_article_path %>
  </div>

  <ul class="articles-list">
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article_path(article) %>
        <%= button_to 'Edit', edit_article_path(article), method: :get, form_class: "inline-form", class: "inline-button" %>
        <%= form_with url: article_path(article), method: :delete, local: true, class: "inline-form" do %>
          <%= submit_tag 'Delete', class: "inline-button" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
