<h1>Articles</h1>

<turbo-frame id="error_messages"></turbo-frame>

<%= form_with model: Article.new, local: false do |form| %>
  <%= form.label :title %>
  <div class="input-container">
    <%= form.text_field :title %>
  </div>
  

  <%= form.label :content %>
  <div class="input-container">
    <%= form.text_area :content %>
  </div>

  <%= form.label :author %>
  <div class="input-container">
    <%= form.text_field :author %>
  </div>

  <%= form.label :date %>
  <div class="input-container">
    <%= form.date_select :date %>
  </div>

  <%= form.submit %>
<% end %>

<%= form_with url: articles_path, method: :get, local: false, id: "search-form" do |form| %>
  <%= form.label :search, "Search Articles" %>
  <div class="input-container">
    <%= form.text_field :search, id: "search-field" %>
  </div>

  <%= form.submit "Search", class: "search-btn" %>
  <%= form.button "Clear", type: "submit", name: "clear_search", value: "true", class: "clear-btn" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Author</th>
      <th>Date</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody id="articles">
    <%= render @articles %>
  </tbody>
</table>
