<h1>Shopedia</h1>

<!-- Search Form -->
<%= form_with(url: articles_path, method: :get, class: 'search-form') do %>
  <%= text_field_tag :query, params[:query], placeholder: 'Search articles' %>
  <%= submit_tag 'Search', name: nil %>
  <%= link_to 'Clear', articles_path, class: 'clear-button' %>
<% end %>


<!-- Link to Create New Article -->
<%= link_to 'Create New Article', new_article_path, class: 'create-article-button' %>

<!-- Styled list of articles -->
<div class="articles-list">
  <% @articles.each do |article| %>
    <div class="article-item">
      <%= link_to article.title, article, class: "article-title" %>
      <p class="article-snippet"><%= truncate(article.content, length: 100) %></p>
      <div class="article-metadata">
        <span>By <%= article.author %></span>
      </div>
    </div>
  <% end %>
</div>