<%= stylesheet_link_tag 'application', 'articles', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="page-header">
  <h1>Articles</h1>
</div>

<%= form_tag(articles_path, method: :get, class: 'search-form') do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Search by title' %>
  <%= submit_tag 'Search' %>
<% end %>

<% if @articles.any? %>
  <table class="articles-table">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>

    <% @articles.each do |article| %>
      <tr class="article-row">
        <td><%= article.title %></td>
        <td><%= article.author %></td>
        <td><%= article.date %></td>
        <td class="actions-cell">
          <%= link_to 'Show', article %> |
          <%= link_to 'Edit', edit_article_path(article) %> |
          <%= link_to "Destroy", article_path(article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </td>
      </tr>
      <tr class="article-row">
        <td colspan="4">
          <%= article.content %>
        </td>
      </tr>
      <!-- Add an empty row after each article's content -->
      <tr class="empty-row">
        <td colspan="4"></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No articles found.</p>
<% end %>

<br>

<%= link_to 'New Article', new_article_path %>
