<div id="articles" class="main-container">
  <h1>Encyclopedia</h1>
  <div class="search-div">
    <%= form_tag articles_path, method: :get,id:"search-tag" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Titles, Content, or Author", id:"search-bar"%>
      <%= submit_tag "Search", name: nil, id:"search-btn"%>
    <% end %>
    </div>
    <p>
      <%= link_to 'Create New Article', new_article_path, id:"create-btn"%>
    </p>
 
<%if @articles.size!=0%>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Author</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.date %></td>
      <td><%= article.author %></td>
      <td><%= article.title %></td> 
      <td class="select">
          <a class="button"><%= link_to "View", article_path(article),
            class:"select-btn" ,style: "background-color: #007bff" %>
          </a>
          <a class="button"> <%= link_to "Edit", edit_article_path(article),
            class:"select-btn" ,style: "background-color: #28a745" %>
          </a>
          <a class="button"><%= button_to "Delete", article_path(article),
            class:"select-btn", method: :delete, data: { confirm: "Are you sure?" }, 
            form: { style: "display: inline" }, style: "background-color: #dc3545" %>
          </a>
      </td>
      </tr>
    
    <% end %>
  </tbody>
 
</table>
<%else%>
<div style="color: red; font-size:40px" id="error_explanation">Article not found.</div>
<%end%>
</div>
