<section>
  <header>
    <h1>Articles</h1>
    <%= form_with(url: articles_path, method: "get", local: true) do |form| %>
      <div>
        <%= form.label :search, "Search:" %>
        <%= form.text_field :search %>
      </div>
      <div>
        <%= form.submit "Search" %>
      </div>
    <% end %>
  </header>

  <main>
    <ul>
      <% @articles.each do |article| %>    
        <li>
          <%= link_to article.title, article %>
        </li>
      <% end %>    
    </ul>
    <%= link_to "New Article", new_article_path %>
  </main>
</section>
