<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
      <ul>
        <li>
          <%= 'content: ' + article.content %>
        </li>
        <li>
          <%= 'author: ' + article.author.to_s %>
        </li>
        <li>
          <%= 'date: ' + article.date.to_s %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>

