<h1>Encyclopedia</h1>

<h2>Article Search</h2>

<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :Keyword %><br>
    <%= form.text_field :keyword %>
    <%= form.submit %>
  </div>
<% end %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title + ": " + article.content, article %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
