<h1>Articles</h1>
<%= link_to 'Home', root_path, class: 'home-button' %>
<%= button_to 'New Article', new_article_path, method: :get, class: 'new-article-button' %>

<ul>
  <% @articles.each do |article| %>
    <li class="article-actions">
      <span class="article-title"><%= link_to article.title, article_path(article) %></span>
      <div class="action-links">
        | <%= link_to 'View', article_path(article), class: 'view-article-link' %>
        | <%= link_to 'Edit', edit_article_path(article) %>
        | <%= button_to 'Delete', article_path(article), method: :delete, class: 'delete-button' %>
      </div>  
    </li>
  <% end %>
</ul>

