<!DOCTYPE html>
<html>
    <body>
        <h1>Hello</h1>
        <%= form_tag do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search" %>
        <% end %>
        <h2> Make a new article </h2>
        <%= link_to "New Article", new_article_path %> 
        <h2> Search Results </h2>
        <div>
           
            <table>
                 <h3> Table Of Articles   </h2>
                </tr>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Date Published</th>
                    <th>Content</th>
                    <th>Delete</th>
                </tr>
            
                    <% @articles.each do |article| %>
                        <tr>
                        <th><%= article.author %></th>
                        <th><%= article.title %></th>
                        <th><%= article.date %></th>
    
                         <%# <th><%= link_to "Content", content_article_path(article) %></th> %>
                        </tr>
                    <% end %>

            </table>
        </div>

        
    </body>
</html>

