<h1>Articles</h1>

<%# Search bar %>
<%= form_with url: "/", method: :get do |form| %>
  <%= form.label :search_params, "Search for:" %>
  <%= form.text_field :search_params %>
  <%= form.submit "Search" %>
<% end %>

<%# Lists all articles %>
<ul>
    <% @articles.each do |article| %>
        <li>
        <%= link_to article.title, article %>
        </li>
    <% end %>
</ul>

<%= link_to 'New Article', new_article_path%>
<%= link_to 'All Articles', articles_path%>