<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Content</th>
      <th>Date Added</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.author %></td>
        <td><%= article.content %></td>
        <td><%= article.date %></td>
        <td><%= link_to 'Show', article_path(article), class:"btn btn-info"%></td>
        <td><%= link_to 'Edit', edit_article_path(article), class:"btn btn-primary"%></td>
        <td><%= button_to 'Destroy', article_path(article), class:"btn btn-danger",
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Article', new_article_path, class: 'btn btn-success' %>
