<h1>Articles</h1>



<%= form_tag(articles_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search], placeholder: "Search by title or author") %>
  <%= submit_tag("Search") %>
<% end %>



<h2>All Articles List</h2>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<ul>
<li><%= link_to "New Article", new_article_path %> </li>
<li><%= link_to "See all", root_path %></li>
</ul>