<header class="py-3 bg-dark text-white text-center">
  <h1>Shopify Encyclopedia</h1>
</header>

<div class="containe mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <%= form_with(url: articles_path, method: "get", local: true, class: "mb-3") do %>
        <div class="input-group">
          <%= text_field_tag(:term, params[:term], class: "form-control", placeholder: "Search", style: "margin-right: 20px;") %>
          <%= submit_tag("Search", class: "btn btn-primary") %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mb-4">
  <%= link_to 'New Article', new_article_path, class: 'btn btn-success' %>
</div>

<div class="row mt-4">
  <% @articles.each do |article| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title"><%= article.title %></h2>
          <h3 class="card-subtitle mb-2 text-muted">Author: <%= article.author %></h3>
          <p class="card-text"> <%= article.content  %> </p>
          <%= link_to 'Read', article, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

