<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<%= render "search" %>

<div id="articles">
  <% if @articles.any? %>
    <% @articles.each do |article| %>
      <%= render article %>
      <p>
        <%= link_to "Show this article", article %>
      </p>
    <% end %>
  <% else %>
    <p>No articles found</p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
