<p style="color: green"><%= notice %></p>

<%= form_for(:article, url: search_articles_path, method: 'get') do %>
  <%= text_field_tag 'query', params[:query], placeholder: 'Search articles...' %>
  <%= submit_tag 'Search' %>
<% end %>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Author</th>
      <th>Date</th>
      <th>Action</th> <!-- Add a new column for actions -->
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <%= render partial: "article", locals: { article: article } %>
      <tr>
        <td colspan="4"></td> <!-- Add empty cells for the first four columns -->
        <td>
          <p>
            <%= link_to "Show this article", article %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New article", new_article_path %>
