<h1>Articles</h1>

<!-- Search Bar for Articles -->
<%= form_tag "/articles", method: "GET" do %>
    <%= label_tag :search %>
    <%= text_field_tag :search, params[:query] %>
    <%= submit_tag "Search" %>
  <% end %>

  <%= link_to "Reset Search", articles_path %>

<!-- List all Articles -->
<div>
<table class="table table-info table-striped">
<ol class="fs-2">
<thead class="table-secondary">
          <td> Id </td>
          <td> Title </td>
          <td> Content </td>
          <td colspan=3> Author </td>
        </thead>
        <% @articles.each do |a| %>
          <tr>
            <td> <%= a.id %> </td>
            <td> <%= link_to a.title, article_path(a) %> </td>
            <td> <%= a.content %> </td>
            <td> <%= a.author %> </td>
            <td> <%= a.date %> </td>
            <td><%= button_to "Show",article_path(a),method: :get %></td>
            <td><%= button_to "Edit",edit_article_path(a),method: :get %></td>
            <td><%= button_to "Delete",article_path(a),method: :delete %></td>
          </tr>
        <% end %>
      </ol>
    </table>
  </div>
  <div class="d-flex">
    <%= button_to "Add New Article", new_article_path, method: :get %>
  </div>
</div>