<p style="color: green"><%= notice %></p>
 <div id="articles" class="flex justify-center items-center mb-4">
  <%= form_tag(articles_path, method: "get", class: "rounded-lg") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search articles...", class: "" %>
    <%= submit_tag "Search", class: 'rounded-lg bg-gray-200 border-2 boreder-black'  %>
  <% end %>
</div> 

<%# If the article is present from search, then show, else render "No articles found.%>
  <% if @articles.present? %>
    <% @articles.each do |article|%>
      <%= render article%>
        <%= link_to "Show this article", article, class:"mt-2 flex border border-black rounded-2xl text-center bg-blue-300 grid w-2/12 mx-auto" %>
    <% end %>
  <% else %>
    <p>No articles found.</p>
  <% end %>


