<h1>Articles</h1>

<%= render 'search' %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td>
          <%= link_to 'Show', article %>
          <%= link_to 'Edit', edit_article_path(article) %>
          <%= link_to "Destroy", article_path(article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Article', new_article_path %>
