
<p style="color: green"><%= notice %></p>
<%= form_tag(articles_path, method: :get, class: 'control') do %>
  <div class="columns mt-6 is-centered">
    <div class="column is-half">
      <%= text_field_tag :search, nil, class: 'input is-link', placeholder: 'Search' %>
    </div>
    <div class="column is-1">
      <%= submit_tag 'Search', class: 'button is-success' %>
    </div>
  </div>
<% end %>
<div class="columns mt-6 is-centered" id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>
</div>