
<p style="color: green"><%= notice %></p>
<div class="columns mt-6 is-centered">
  <div class="column is-half">
    <%= form_with url: "/articles", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>
  </div>

</div>
<div class="columns mt-6 is-centered" id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>
</div>