<h1>Articles</h1>

<p>
<%= form_for "", url: articles_path, role: "search", method: :get do %>
  <%= text_field_tag :q, @search_term, placeholder: "Seach..." %>
  <%= submit_tag "Search" %>
  <%= link_to "Reset", articles_path %>
<% end %>
</p>


<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="/articles/<%= article.id %>">
        <%= link_to article.title, article %>
      </a>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
