<h1>Articles CRUD App</h1>

<!-- To return to root from search query -->
<%= link_to 'Home', root_path %>

<!-- Search Bar -->
<%= form_with url: articles_path, method: :get do |form| %>
  <%= form.label :search, 'Search Articles' %>
  <%= form.text_field :search, value: params[:search] %>
  <%= form.submit 'Search' %>
<% end %>

<%= link_to 'New Article', new_article_path %>

<!-- Render existing articles -->
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %> 
      published on <%= article.date.strftime("%B %d, %Y") %>
      by <%= article.author %> 
    </li>
  <% end %>
</ul>
