<div class="container mt-5">
  <h1 class="text-center">Articles</h1>

  <div class="row justify-content-center mb-4">
    <div class="col-sm-6">
      <%= form_with(url: articles_path, method: "get", local: true, class: "d-flex") do |form| %>
        <%= form.text_field :query, placeholder: "Search articles", class: "form-control me-2 flex-grow-1" %>
        <%= form.submit "Search", class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <ul class="list-group mt-4">
        <% @articles.each do |article| %>
          <li class="list-group-item">
            <%= link_to article.title, article %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="mt-4 text-center">
    <%= link_to "New Article", new_article_path, class: "btn btn-primary" %>
  </div>
</div>
