<!--
<p style="color: green"><%= notice %></p>

<h1>All Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %> 
-->

<h1>All Articles:</h1>

<%= form_tag(search_articles_path, method: :get) do %>
<%= text_field_tag(:query, params[:query], placeholder: "Search by title") %>
<%= submit_tag("Search") %>
<% end %>
  

<ul>
    <% @articles.each do |article| %>
        <li><%= link_to article.title, article %></li>
    <% end %>
</ul>
  
