<h1>Welcome to Shopify Encyclopedia</h1>
<h2>All Articles: </h2>

<!-- Search Bar with clear button-->
<%= form_tag(articles_path, method: :get, class:'search-bar', id: 'search-bar') do %>
    <%= text_field_tag(:search, params[:search], placeholder: 'Article Title or Content...')%>
    <%= submit_tag('Search') %>
    <%= submit_tag('Clear', name: 'clear', onclick: 'clearSearchBar()') %>
<% end %>

<!-- Article Listing -->
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Descriptiion</th>
            <th>Author</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <% @articles.each do |article|%>
        <tr> 
            <td><%=article.title %></td>
            <td><%=article.content %></td>
            <td><%=article.author %></td>
            <td><%=article.date %></td>
            <td><%= button_to 'Delete', article_path(article), method: :delete, 
            form: { data: { turbo_confirm: 'Are you sure you want to delete this article?' }} %></td>
        </tr>
        <% end %>
    </tbody>
</table>