<h1>New Article</h1>

<%= form_with model: @article, local: true do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :title %>
  <%= form.text_field :title, id: :article_title %>

  <%= form.label :content %>
  <%= form.text_area :content, id: :article_content %>

  <%= form.label :author %>
  <%= form.text_field :author, id: :article_author %>

  <%= form.label :date %>
  <%= form.date_select :date, id: :article_date %>

  <%= form.submit %>

<%= link_to 'Back', articles_path %>

<% end %>
