<h1>Create a new article</h1>

<!-- If there's any error, display the error messages -->
<% if @article.errors.any? %>
    <h2>The following errors prevented the article from being saved</h2>
    <ul>
        <%= @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %> 

<%= form_with scope: :article, url: articles_path, local:true, data: { turbo: false } do |f| %>

<p>
    <%= f.label :title, "Title"%><br/>
    <%= f.text_field :title%>
</p>

<p>
    <%= f.label :content, "Content"%><br/>
    <%= f.text_area :content%>
</p>

<p>
    <%= f.label :author, "Author"%><br/>
    <%= f.text_field :author%>
</p>

<p>
    <%= f.label :date, "Date"%><br/>
    <%= f.text_field :date%>
</p>

<p>
    <%= f.submit%>
</p>

<% end %>

<%= button_to 'Return to articles listing', articles_path, method: :get %>