<h1>New Article</h1>

<%= form_with(model: @article, url: articles_path) do |form| %>
  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :author %><br>
    <%= form.text_field :author, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :content %><br>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Article', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back', articles_path, class: 'btn btn-secondary mt-3' %>