<%= form_with url: search_articles_path, method: :get do |form| %>
   <%= form.label :search, 'Search Articles:' %>
   <%= form.text_field :search %>
    <%= form.submit 'Search' %>
  <% end %>
  
  <% @articles.each do |article| %>
    <!-- Display search result for each article -->
    <p><%= article.title %></p>
    <p><%= article.date %></p>
  <% end %>

  <%= link_to 'Back to Articles List', articles_path %>
