<div class=encyclopedia>
  <h1> Search 🔎</h1>
  <%= form_with(url: search_articles_path, method: :get, local: true) do |form| %>
    <div>
      <%= form.label :query, "Search for:" %>
      <%= form.text_field :query %>
    </div>

    <div>
      <%= form.submit "Search" %>
    </div>
  <% end %>
  <div class=nav>
    <%= link_to link_to 'Home', root_path, class: "button" %>
  </div>
  <% if @articles.present? %>
    <h2>Search Results:</h2>
    <ul>
      <% @articles.each do |article| %>
        <li>
          <p class=title><%= link_to article.title, article %><p>
          <p class=author>Author: <%= article.author %></p>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No articles found</p>
  <% end %>
</div>