<h1>Search Results</h1>

<%= form_with(url: search_articles_path, method: :get) do |form| %>
  <%= form.text_field(:search, value: params[:search], placeholder: 'Search articles...') %>
  <%= form.submit('Search') %>
<% end %>

<% if @articles.present? %>
  <ul>
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No articles found.</p>
<% end %>

<%= link_to 'Back to articles', root_path %>