<!-- app/views/articles/search.html.erb -->
<div class="article-search">
  <h2>Search Articles</h2>

  <%= form_tag(search_articles_path, method: :get) do %>
    <div class="form-group">
      <%= label_tag :query, 'Search Query' %>
      <%= text_field_tag :query, params[:query], class: 'form-control' %>
    </div>

    <%= submit_tag 'Search', class: 'btn btn-primary' %>
  <% end %>

  <% if @articles.present? %>
    <h3>Search Results:</h3>
    <ul>
      <% @articles.each do |article| %>
        <li><%= link_to article.title, article_path(article) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No articles found.</p>
  <% end %>

  <%= link_to 'Back to Menu', articles_path %>
</div>
