<h1><%= @article.title %></h1>
<p>Author: <%= @article.author %></p>
<p>Date: <%= @article.date %></p>
<hr>
<p><%= @article.content %></p>
<hr>
<table>
    <tr>
        <td><%= link_to "Back", root_path %></td>
        <td><%= link_to "Edit", edit_article_path(@article) %></td>
        <td><%= link_to "Delete", article_path(@article), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure you want to delete this article?"
        } %></td>
    </tr>
</table>

