<%= render "nav" %>

<div class="container">
  <h2><%= @article.title %></h2>
  <h3><%= @article.author %></h3>

  <p><%= @article.content %></p>

  <div>
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-info" %>
    <%= link_to "Delete", article_path(@article), class: "btn btn-danger", data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </div>
</div>
