<h1><%= @article.title %></h1>
<h4><%= @article.author + ', ' + @article.date.to_s %></h2>

<p><%= @article.content %></p>

<%= link_to "Edit", edit_article_path(@article) %>
<br />
<%= link_to "Destroy", article_path(@article), 
    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<br />
<%= link_to 'Browse Articles', articles_path %>
