<h1><%= @article.title %></h1>

<p><%= @article.content %></p>
<p><%= @article.author %></p>
<p><%= @article.date %></p>

<button><%= link_to "Edit", edit_article_path(@article) %></button>
<button><%= link_to "Delete", article_path(@article), method: :delete, data: { 
                    turbo_method: :delete,  
                    turbo_confirm: "Are you sure you want to delete this article?"
                  } %></button>