<p style="color: green"><%= notice %></p>

<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1 my-4">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"><%= @article.title %></h2>
  </div>
  <div class="mt-4 flex md:ml-4 md:mt-0">
    <%= link_to articles_path, class: "ml-3 inline-flex items-center rounded-md bg-slate-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-slate-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-600" do %>
      Back to Articles
    <% end %>
    <%= link_to edit_article_path(@article), class: "ml-3 inline-flex items-center rounded-md bg-sky-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-sky-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600" do %>
      Edit
    <% end %>
    <%= link_to article_path(@article), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "ml-3 inline-flex items-center rounded-md bg-rose-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-rose-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-600" do %>
      Delete
    <% end %>
  </div>
</div>

<h4 class="text-lg font-semibold leading-7 text-gray-900 sm:truncate sm:text-lg sm:font-semibold sm:tracking-tight">
  <!-- <%= @article.author.present? ? @article.author : "-" %> -->
  <!-- <%= @article.date.present? ? @article.date.strftime("%b %d, %Y") : "-" %> -->
</h4>

<div class="max-w-5xl mx-auto">
  <%= render @article %>
</div>
