<h1><%= @article.title %></h1>
<p><strong>Author:</strong> <%= @article.author %></p>
<p><strong>Posted:</strong> <%= @article.date %></p>
<p class="article-content"><%= @article.content %></p>

<%= link_to 'Edit Article', edit_article_path(@article) %> 
<%= link_to 'Back to Home', articles_path %> 
<%= button_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>