<h1><%= @article.title %></h1>
<p><i><%= @article.author %></i></p>
<p><i><%= @article.date %></i></p>
<p><%= @article.content %></p>

<br>
<div>
  <%= link_to "Edit", edit_article_path(@article) %>
</div>
<div>
  <%= link_to "Destroy", article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %>
</div>
<br>
<div>
  <%= link_to "Home", root_path %>
</div>