<h1>Title - <%= @article.title %></h1>

<p>Content - <%= @article.content %></p>

<p>Wrtitten by - <%= @article.author %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<%= link_to "Back", articles_path %>