<h1><%= @article.title %></h1>
<p>Author: <%= @article.author %></p>
<p>Date: <%= @article.date.strftime('%Y-%m-%d') %></p>
<br>
<p><%= @article.content %></p>
<br>

<%= link_to 'Edit', edit_article_path(@article), class: 'button' %> 
<br>

<%= button_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure you to delete this article?' }, class: 'button' %>
<br>

<%= render "layouts/navigation", locals: { title: "Home", path: root_path } %>

