<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <h1 class="card-title"><%= @article.title %></h1>

      <p><strong>Author:</strong> <%= @article.author %></p>
      <p><strong>Date:</strong> <%= @article.date %></p>

      <p class="card-text"><%= @article.content %></p>

      <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning mb-2' %>
      
      <%= button_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger mb-2' %>
      <%= link_to 'Back to Articles', articles_path, class: 'btn btn-primary mb-2' %>
    </div>
  </div>
</div>
