<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1><%= @article.title %></h1>
      <p><%= @article.content %></p>

      <div class="d-flex justify-content-between mt-4">
        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-secondary me-2" %>
        <%= link_to "Destroy", article_path(@article), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </div>

      <div class="text-center mt-4">
        <%= link_to 'Home', root_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
