<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<h1><%= @article.title %></h1>

<% if @article.author.present? %>
  <h3>Author: <%= @article.author %></h3>
<% else %>
  <h3>No author specified</h3>
<% end %>

<% if @article.date %>
  <h3>Date: <%= @article.date.strftime('%B %d, %Y') %></h3>
<% else %>
  <h3>No date available</h3>
<% end %>

<h2><%= @article.content %></h2>


<ul>
  <li><%= link_to "Update Article", edit_article_path(@article) %></li>
  <li><%= link_to "Delete Article", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure you want to delete this article? This action cannot be undone."
                  } %></li>
  <li><%= link_to 'Back to Articles', articles_path %></li>
</ul>