<h1><%= @article.title %></h1>

<p><%= @article.content %></p>
<hr>
<p>Author: <%= @article.author %></p> <!-- FIXME: This field may not exist -->
<p>Date: <%= @article.date %></p>  <!-- FIXME: This field may not exist -->

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
