<h1><%= @article.title %></h1>

<div>
	<%= @article.author %><br/>
	<%= @article.content %><br/>
	<%= @article.date %><br/>
</div>

<%= link_to "Edit Article", edit_article_path %>
<%= link_to "Delete Article", article_path(@article), data: {
	turbo_method: :delete,
	turbo_confirm: "Are you sure you want to delete this article?"
} %>
<%= link_to "View All Articles", articles_path %>
