<h1><%= @article.title %></h1>
<h4>By <%= @article.author&.name %> | <%= @article.date %></h4>

<p><%= @article.content %></p>

<%= link_to '<button type="button">Back home</button>'.html_safe, articles_path %>
<%= link_to '<button type="button">Edit</button>'.html_safe, edit_article_path(@article) %>
<%= link_to '<button type="button">Delete</button>'.html_safe, article_path(@article), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure you want to delete this Article?"
} %>
