<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Edit this article", edit_article_path(@article), class: "border-2 border-black rounded-2xl text-center bg-blue-300 grid m-2 px-4" %>
  <%= link_to "Back to articles", articles_path, class: "border-2 border-black rounded-2xl text-center bg-blue-300 grid m-2 px-4" %>

</div>

<%= render @article %>
<%= button_to "Destroy this article", @article, method: :delete, class: "flex border-2 border-black rounded-2xl text-center bg-red-300 grid m-2 px-4"%>
