<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<p>Author: <%= @article.author %></p>
<p>Date: <%= @article.date %></p>
<%= link_to 'Edit', edit_article_path(@article), class: 'button' %>

<%= form_with url: article_path(@article), method: :delete, class: 'button-inline' do %>
  <%= submit_tag 'Delete', data: { confirm: 'Are you sure?' }, class: 'button' %>
<% end %>

<%= link_to 'Back', articles_path, class: 'button' %>
