<h1><%= @article.title %></h1>
<p>Author: <%= @article.author %></p>
<p>Date: <%= @article.date.strftime('%Y-%m-%d') %></p>
<br>
<p><%= @article.content %></p>

<%= render "layouts/navigation", locals: { title: "Home", path: root_path } %>

