<h1><%= @article.title %></h1>

<p><%= @article.content %></p>

<%= link_to 'Edit', edit_post_path(@article) %> |
<%= link_to 'Delete', post_path(@article), method: :destroy, 
data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', posts_path %>
