<h1><%= @article.title %></h1>

<p>Author: <%= @article.author %></p>
<p>Date: <%= @article.date %></p>
<p><%= @article.content %></p>

<ul>
  <li><%= link_to "Edit article", edit_article_path %></li>
  <li>
    <%= link_to "Destroy", article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure you want to delete this article?"
    } %>
  </li>
  <li><%= link_to "Back to articles", articles_path %></li>
</ul>

