<div class="flex justify-center">
  <div class="mt-16 w-8/12">
    <p style="color: green"><%= notice %></p>
    <h1 class="text-4xl font-semibold"><%= @article.title %></h1>
    <div class="inline-block text-lg">
      <p class="mt-5 font-light inline-block">by </p>
      <p class="inline-block text-lime-600"><%= @article.author %></p>
    </div>
    <div class="mb-10 mt-8">
      <p class="text-justify"><%= @article.content %></p>
    </div>
    <div class="mb-8 flex gap-5 justify-between">
      <% if session[:user_id] %>
        <% user = User.find(session[:user_id]) %>
        <% if user.uid === @article.user_id %>
          <div class="flex gap-4">
            <%= link_to edit_article_path(@article) do %>
              <button class="btn bg-slate-800 text-white">Edit Article</button>
            <% end %>
            <%= button_to @article, method: :delete do %>
              <button class="btn btn-outline btn-error">Delete Article</button>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div>
        <%= link_to articles_path do %>
          <button class="btn btn-outline">Back to Home</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
