<!-- Stylesheet link tag to include CSS -->
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<!-- Display the article's title in the heading-->
<h1><%= @article.title %></h1>

<!-- Display the content of the article -->
<p><%= @article.content %></p>

<!-- Display the date when the article was published -->
<p><b>Date:</b> <%= @article.date %></p>

<!-- Indicate whether the article is recent -->
<p><b>Recent:</b> <%= @article.recent? ? 'Yes' : 'No' %></p>

<!-- Link to edit the current article -->
<%= link_to 'Edit', edit_article_path(@article) %> |

<!-- Delete form -->
<%= form_with url: article_path(@article), method: :delete do %>
  <%= submit_tag 'Delete', data: {confirm: 'Are you sure?'} %>
<% end %>

<!-- Link to go back to the list of articles -->
<%= link_to 'Back to Articles', articles_path %>