
<h1> <%= @article.title %> </h1>
<div class="article-content">
    <h4> Author: <%= @article.author.present? ? @article.author : "Unknown" %> </h4>
    <h4> Date: <%= @article.date.present? ? @article.date: "Unknown" %> </h4>
    <p> <%= @article.content %>  </p>
</div>
<div class="controls">

    <%= button_to 'Delete',@article, method: :delete, form:{
        data: {turbo_confirm: "Are you sure you want to delete this article?"}}
    %>
    <%= button_to 'Edit', edit_article_path(@article), method: "get" %>
    <%= button_to 'Back to Home',root_path, method: "get" %>
</div>