<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<p><%= @article.author %></p>
<p><%= @article.date %></p>

<button>
    <%= link_to "Edit", edit_article_path(@article) %>
</button>
<button>
    <%= link_to "Destroy", 
        article_path(@article), 
        data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
        } 
    %>
</button>
