<h1><%= @article.title %></h1>

<p>Author: <%= @article.author %></p>
<p>Content: <%= @article.content %></p>
<p>Date: <%= @article.date %></p>
<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Home", root_path %></li>
</ul>


