<%# Renders the specified article's title, content, author, and date published %>

<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<p><%= @article.author %></p>
<p><%= @article.date %></p>

<%# Clicking the delete button give the user a warning, and delete the article%>
<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Delete", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure that you want to delete this article?"
                  } %></li>
  <li><%= link_to "Back to Articles", articles_path %></li>
</ul>
