<h1><%= @article.title %></h1>

<p><%= @article.content %></p>
<ul>
  <li>
    <%= 'author: ' + @article.author.to_s %>
  </li>
  <li>
    <%= 'date: ' + @article.date.to_s %>
  </li>
</ul>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
  <li><%= link_to "Back to Home", articles_path %></li>
</ul>

