<h1><%= @article.title %></h1>

<p><%= @article.content %></p>

<p>
  <strong>Author:</strong> <%= @article.author %>
</p>

<p>
  <strong>Date:</strong> <%= @article.date %>
</p>

#I uses the link_to helper, and edit_article_path(@article) generates the URL for editing the current article.
<%= link_to 'Edit', edit_article_path(@article) %> |
