<h1><%= @article.title %></h1>

<p><strong>Author:</strong> <%= @article.author %></p>
<p><strong>Content:</strong> <%= @article.content %></p>
<p><strong>Date:</strong> <%= @article.date %></p>
<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Delete", article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  }, class: "delete-article-link" %></li>
  <li><%= link_to "Home", root_path %></li>
</ul>


