<%= link_to "Home", articles_index_url %>


<h1><%= @article.title %></h1>

<%= link_to "Edit", edit_article_path(@article) %>
<%= link_to "Delete", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>

<p> <i> Published by <%= @article.author %> on <%= @article.date %> </i> <p>
<p><%= @article.content %></p>
<%= link_to "Home", articles_index_url %>

