<div class="article-show">
  <h1 class="article-title"><%= @article.title %></h1>
  <p class="article-content"><%= @article.content %></p>
  <p class="article-author">Author: <%= @article.author %></p>
  <p class="article-date">Date: <%= @article.date.strftime("%B %d, %Y") %></p>

  <div class="article-actions">
    <%= link_to 'Edit', edit_article_path(@article), class: 'action-link' %> |
    <%= link_to 'Back to Articles', articles_path, class: 'action-link' %> |
    <%= link_to 'Delete Article', article_path(@article), data: { turbo_method: :delete, turbo_confirm: 'Are you really sure?'}, class: 'action-link delete-link'  %>
  </div>
</div>