<!-- Displays the article title -->
<h1><%= @article.title %></h1>

<!-- Displays the article author if present -->
<% if @article.author.present? %>
  <p>Author: <%= @article.author %></p>
<% end %>

<!-- Displays the article date if present -->
<% if @article.date.present? %>
  <p>Date: <%= @article.date.strftime("%B %d, %Y") %></p>
<% end %>

<!-- Displays the article contents -->
<p><%= @article.content %></p>

<!-- Displays the edit button -->
<%= link_to 'Edit', edit_post_path(@article) %> |
<!-- Displays the delete button -->
<%= link_to 'Delete', post_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %> |
<!-- Displays the back button -->
<%= link_to 'Back', posts_path %>
