<p style="color: green"><%= notice %></p>

<%= render partial: 'full_article', locals: { article: @article } %>

<div>
  <%= link_to "Back to articles", articles_path %> |
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to 'Delete this article', article_path(@article), data: {
            turbo_method: :delete,
            turbo_confirm: 'Are you sure you want to delete this article?'
          } %>
</div>
