<%= stylesheet_link_tag 'styles' %>
<h1 class="home-link"> <%= link_to "Home Page", articles_path %></h1>
<h1 class="edit-title">Create a new article</h1>

<% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
<% end %>

<%= form_with(model: @article, url: articles_path, method: :post, html: { class: "edit-form" }) do |form| %>
    <div class="form-group">
        <%= form.label "title", class: "form-label" %>
        <%= form.text_field :title, class: "form-input" %>
    </div>

    <div class="form-group">
        <%= form.label "author", class: "form-label" %>
        <%= form.text_field :author, class: "form-input" %>
    </div>

    <div class="form-group">
        <%= form.label "content", class: "form-label" %>
        <%= form.text_area :content, rows: 10, cols: 50, class: "form-input" %>
    </div>

    <%= form.submit "Post Article", class: "form-submit" %>
<% end %>