<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 my-4">
    <h1 class="text-xl font-bold leading-7 sm:truncate sm:text-4xl sm:tracking-tight">
      <%= link_to root_path, class: "align-middle mt-2 mr-12 text-gray-800 hover:text-gray-600" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-11 h-11 inline">
        <path d="M11.25 4.533A9.707 9.707 0 0 0 6 3a9.735 9.735 0 0 0-3.25.555.75.75 0 0 0-.5.707v14.25a.75.75 0 0 0 1 .707A8.237 8.237 0 0 1 6 18.75c1.995 0 3.823.707 5.25 1.886V4.533ZM12.75 20.636A8.214 8.214 0 0 1 18 18.75c.966 0 1.89.166 2.75.47a.75.75 0 0 0 1-.708V4.262a.75.75 0 0 0-.5-.707A9.735 9.735 0 0 0 18 3a9.707 9.707 0 0 0-5.25 1.533v16.103Z" />
      </svg>      
        Encyclofy
      <% end %>
    </h1>
  </div>
  <div class="min-w-fit flex-1 md:px-8 lg:px-0 xl:col-span-6">
    <%= render partial: "shared/search" %>
  </div>
  <div class="mt-4 flex md:ml-4 md:mt-0">
    <%= link_to new_article_path, class: "ml-3 inline-flex items-center rounded-md bg-emerald-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-emerald-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600" do %>
      New Article
    <% end if current_page?(root_path) || current_page?(articles_path) %>
    <%= link_to articles_path, class: "ml-3 inline-flex items-center rounded-md bg-slate-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-slate-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-600" do %>
      Back to Articles
    <% end if (@article.present? && (current_page?(new_article_path) || current_page?(article_path(article)))) || current_page?(search_index_path) %>
    <%= link_to edit_article_path(@article), class: "ml-3 inline-flex items-center rounded-md bg-sky-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-sky-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600" do %>
      Edit
    <% end if (@article.present? && !params[:id].nil?) && (!@article.nil? && current_page?(article_path(article))) %>
    <%= link_to article_path(article), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "ml-3 inline-flex items-center rounded-md bg-rose-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-rose-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-600" do %>
      Delete
    <% end if (@article.present? && !params[:id].nil?) && current_page?(article_path(article)) %>
  </div>
</div>
