<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
  <div class="container-fluid mb-2">
    <!-- Link to landing page -->
    <div class="d-flex align-items-end">
      <%= link_to image_tag('Dayflow-Avatar.png', :border => 0, :alt => 'a happy girl`s face', :width => 67, :height => 67), root_path, :class => "link-underline link-underline-opacity-0" %>
      <%= link_to "andressa machado", root_path, class:"text-decoration-none fs-2 fw-lighter text-secondary mx-2" %>
    </div>

    <!-- Hamburger menu -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse mt-3" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Articles published', articles_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Create new Article', new_article_path, class:"nav-link"%>
        </li>
        <li class="nav-item" style="display: flex;align-items: center">
          <%= form_tag articles_path, :method => "get" do %>
            <%= text_field_tag :term, params[:term], placeholder: "Search by title/content", class: "px-2"%>
            <%= submit_tag("Search", :name => nil) %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>