<h2>Create a New Article</h2>
<%= form_with model: @articles do |form| %>
	<div class="field">
		<%= form.label :title %>
		<%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div class="field">
		<%= form.label :content %>
		<%= form.text_area :content %>
    <% @article.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

  <div class="field">
		<%= form.label :author %>
		<%= form.text_field :author %>
    <% @article.errors.full_messages_for(:author).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div class="field">
		<%= form.label :date %>
		<%= form.date_select :date %>
    <% @article.errors.full_messages_for(:date).each do |message| %>
      <div><%= message %></div>
    <% end %>
	</div>

	<div class="actions">
		<%= form.submit %>
	</div>
<% end %>
