<!DOCTYPE html>
<html>
  <head>
    <title>EngInternAssessmentRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
    <%= link_to 'Home', root_path %>
    <% if writer_signed_in? %>
    <%= link_to 'Logout', destroy_writer_session_path, method: :delete %>

      <%= link_to 'New Article', new_article_path %>
    <% else %>
      <%= link_to 'Signup', new_writer_registration_path %>
      <%= link_to 'Login', new_writer_session_path %>
    <% end %>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
