<!DOCTYPE html>
<html>
  <head>
    <title>EngInternAssessmentRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <!-- Navbar -->
  <nav class = "navbar">
    <ul>
      <li><%= link_to "Home", articles_path %></li>
      <li><%= link_to "New Article", new_article_path %></li>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
