<!DOCTYPE html>
<html>
  <head>
    <title>EngInternAssessmentRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'navbar' %>
    <% if notice.present? %>
      <div class="notice-container">
        <p class="notice"><%= notice %></p>
      </div>

      <%# Remove notice after 3 seconds %>
      <script type="text/javascript">
        setTimeout(function() {
          var container = document.querySelector('.notice-container');
          if (container) {
            container.style.opacity = '0';
            container.style.display = 'none';
          }
        }, 3000);
      </script>
    <% end %>

    <%= yield %>
  </body>
</html>
