<!DOCTYPE html>
<html>
<head>
  <title>EngInternAssessmentRails</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <% unless controller_name == 'articles' && action_name == 'index' %>
    <%= link_to 'Back to Articles', articles_path, class: "back-to-list-btn" %>
  <% end %>
  <%= yield %>
</body>
</html>
