<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>EngInternAssessmentRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="px-52">
    <div class="mt-10 flex justify-between">
      <%= link_to articles_path do %>
        <h1 class="text-3xl text-lime-600">Shopedia</h1>
      <% end %>
      <%= link_to new_article_path do %>
        <button class="btn btn-sm btn-default bg-slate-500 text-white hover:text-slate-800 font-light w-20">
          Create
        </button>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
