<!DOCTYPE html>
<html>
  <head>
    <title>Encyclofy - Shopify EngInternAssessmentRails by Neema Sadry</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script> -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <%= yield %>
  </body>

  <footer>
    <%= render partial: "shared/footer" %>
  </footer>
</html>
