<!DOCTYPE html>
<html>
  <head>
    <title>Encyclopedia(EngInternAssessmentRails)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div >
      <ul >
        <li ><%= link_to "Home", home_path %></li>
      </ul>
      <ul >
        <li ><%= link_to "Create Article", new_article_path %></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
