<!DOCTYPE html>
<html>
  <head>
    <title>Shopify Intern Encyclopedia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
     body {
      background-color: #121212; /* Dark background */
      color: #e0e0e0; /* Light text */
      font-family: Arial, sans-serif;
    }

    a {
      color: #bb86fc; /* Light purple for links */
      text-decoration: none;
    }
    .field {
       margin-top: 8px;
    }

    a:hover {
      text-decoration: underline;
    }

    .articles {
      margin: 20px;
      padding: 20px;
      background-color: #1e1e1e; /* Slightly lighter dark background for posts */
      border: 1px solid #373737; /* Border color for posts */
    }

    .notice, .alert {
      margin: 10px;
      padding: 10px;
      border: 1px solid transparent;
      border-radius: 4px;
      color: #121212; /* Dark text for contrast */
    }

    .notice {
      background-color: #00ed64; /* Light teal for success messages */
      border-color: #00ed64;
    }

    .alert {
      background-color: #cf6679; /* Light red for alert messages */
      border-color: #cf6679;
    }

     nav {
      display: flex;
      align-items: center; /* Vertically centers the nav items */
      justify-content: space-between;
      background-color: #1f1f1f; 
      padding: 10px 20px;
      text-decoration: none;
    }
    .nav-left a:hover {
    text-decoration: none; /* Prevent underline on hover */
    background-color: transparent; /* Keep background transparent on hover */
  }

    .nav-left {
      display: flex;
      align-items: center; /* Vertically centers the logo and the text */
      gap: 10px;
      text-decoration: none;
    }

    .nav-left span {
      font-size: 24px; /* Adjust size as needed */
      font-weight: bold; /* Makes the text bold */
      color: #e0e0e0; /* Light text color */
      text-decoration: none;
    }

    nav a {
      display: inline-block;
      margin-right: 10px;
      padding: 10px;
      border-radius: 4px;
      transition: background-color 0.3s;
    }

    .actions, .new-article-link {
      margin-top: 10px;
    }

    .actions a, .actions form {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
  text-decoration: none;
  color: white;

}

.actions a {
  background-color: #4CAF50; /* Green background for links */
}

.actions a:hover {
  background-color: #45a049; /* Darker green on hover */
}


    input[type="submit"], button {
      background-color: #bb86fc; /* Light purple for buttons */
      color: #121212; /* Dark text for buttons */
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      font-weight:bold;
    }

    input[type="submit"]:hover, button:hover {
      background-color: #9a67ea; /* Slightly darker purple on hover */
      
    }
    .notice, .alert {
    margin: 10px auto; /* Auto margins for horizontal centering */
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #121212; /* Dark text for contrast */
    min-width: 300px; /* Minimum width, adjust as needed */
    text-align: center; /* Center text */
    display: block; /* Use block to work with width and margin auto */
  }
    

     .nav-right {
      display: flex;
      gap: 10px; /* Adds space between the buttons */
      color: white;
    }

    .nav-right form {
      display: inline; /* Makes the forms appear in line */
    }
    .nav-right input:hover{
    background-color: #9a67ea; /* Adjusted hover background color */
  }

    .message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px; /* Adjust as needed */
  }
  .user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #1f1f1f; /* Light grey background */
    border-radius: 15px; /* Rounded corners */
    width: 100%; /* Full width */
    max-width: 300px; /* Maximum width of the form */
    margin: auto; /* Centering the form container */
}
.field {
    margin-bottom: 5px;
}


.actions2 {
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  margin: 10px; /* Adds margin around the button to create space */
  padding: 10px 20px; /* Adds padding inside the button */
  border: none; /* Removes the border */

  color: white; /* Text color */
  cursor: pointer; /* Changes cursor to a pointer on hover */
  /* Add more styles as needed */
}

    </style>
  </head>

<body>
  <nav >
    <div>
      <%= link_to root_path do%>
        <div class="nav-left">
          <%= image_tag('logo.svg', alt: 'Logo', style: 'height: 35px;') %>
          <span>Shopipedia</span>
        </div>
      <% end %>
    </div>
    
    <div class="nav-right">
      <% if user_signed_in? %>
        <%= form_tag(destroy_user_session_path, method: :delete) do %>
          <%= submit_tag('Logout') %>
        <% end %>
      <% else %>
        <%= form_tag(new_user_session_path, method: :get) do %>
          <%= submit_tag 'Login' %>
        <% end %>
        <%= form_tag(new_user_registration_path, method: :get) do %>
          <%= submit_tag 'Register'%>
        <% end %>
      <% end %>
    </div>
  </nav>
  <div class="message-container">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    </div>
  <%= yield %>
</body>
</html>
